/* general */
html {
  background-color:#FFFFFF !important;
  width:100%;
  height:100%;
  text-transform: none;
}
/* general background */
/*body {
  background: url('../img/generalbackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
*/
/* individual background
*[data-role="page"] {
  background: url('../img/individualbackground.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}*/
/* listview thumbnails */
.thumbnail {
  float: left;
  width: 100px;
  height: auto;
  margin-right: 10px;
  margin-top: 10px;
}
.centered {
  margin: 0 auto !important;
  text-align: center !important;
}
/* picture */
.picture {
  height: 200px;
  width: 200px;
  background-color: black;
}
/* controlgroups */
.ui-controlgroup-controls {
  width: 100%;
}
.ui-radio label {
  font-size: 10px;
}
/* radio labels with background images */
.ui-controlgroup-controls label {
  background-repeat: no-repeat;
  background-size: cover;
  height:30px;
}
/* radio weather sizes */
.weather .ui-radio {
  width: 33.333333333333333333333%;
}
/* radio weather background images
.cold {background-image: url('../img/cold.png');}
.sunny {background-image: url('../img/sunny.png');}
.hot {background-image: url('../img/hot.png');}
*/
/* radio styles sizes */
.style .ui-radio {
  width: 25%;
}
/* radio styles background images
.dotted {background-image: url('../img/dotted.png');}
.plain {background-image: url('../img/plain.png');}
.stamp {background-image: url('../img/stamp.png');}
.lines {background-image: url('../img/lines.png');}
*/
.grayscaled {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; /* IE 6-9 */
}